.MainPage{
    padding-top: 60px;
    padding-left: 44px;
}
.categorybar{
    position : fixed;
    flex : 1;
    top: 60px;
    flex-direction: row;
    background-color: black;
    padding-bottom: 10px;
    padding-left: 45px;
    width: 100%;
}

.categorybarlink{ 
    background-color: rgb(55, 55, 55);
    color : white;
    border-radius: 8px;
    margin-right: 7px;
    font-size: 10px;
    border: none;
    padding: 4px 8px;
}
.categorybarlink:hover{
    background-color: gray;
}